

<div class="navbar">
    <div class="brand">
       <span class="brand-highlight">Wawan</span> Contact App
    </div>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
</div>


