<h1>Ini halaman about</h1>
    
<div class="container">
    <div class="row">
        <div class="col">
            <img src="img/Roblox.png" alt="Dzakwan Al iman">
            <h1>Dzakwan Al iman</h1>
            <p>Programer fullstack js dan game dev unity</p>
        </div>
    </div>
</div>